* {
  margin: 0;
}

.header {
  padding: 30px 25px;
  background-color: #21222a;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar > h3 {
  color: #61dafb;
  margin: 0 auto 0 7px;
  font-size: 22px;
}

.navbar > h4 {
  color: #deebf8;
  font-weight: 600;
}
